
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
html {
  font-size: 12px;
}

@media (min-width: 576px) {
  html,body {
    font-size:12px;
  }
}

@media (min-width: 768px) {
  html,body {
    font-size:14px;
  }
}

@media (min-width: 992px) {
  html,body {
    font-size:16px;
  }
}

@media (min-width: 1200px) {
  html,body {;
    font-size:18px;
  }
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background: url(background.jpg) center/cover; 
  background-blend-mode: overlay; 
  background-color: #232323;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  overflow-y: hidden;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 25%;
  width: 90%;
  font-family: 'Dosis';
}

.App-intro {
  margin: 0 auto;
  color: #fff;
  font-weight: 300;
  font-size: 1.75rem;
  padding: 16px;
}

.bottomDiv{
  position: relative;
  top: 60%;
}

.App-title{
  margin: 0 auto;
  margin-left: -0.3rem;
  color: #fff;
  font-weight: 300;
  font-size: 3.5rem;
  letter-spacing: 0.4rem;
}

.startButton{
  position: absolute;
  top: 45%;
  left: 0%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .buttonDiv{
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .buttonDiv{
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .buttonDiv{
    text-align: center;
    width: 65%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  b.buttonDiv{
    text-align: center;
    width: 40%;
    margin: 0 auto;
  }
}

.buttons{
  margin-top: 40px; 
  background-color: #a9360c;
  border-color: rgba(0, 66, 58, 0);
}

.buttons:hover, .buttons:focus, .buttons:active, .buttons.active, .open>.dropdown-toggle.buttons{
  background-color: #6d2207;
  box-shadow: none;
  border-color: rgba(0, 66, 58, 0);
}

.buttons2{
  color: #fff;
  border-color: #fff;
  margin: 40px auto 40px auto;
}

.buttons2:hover, .buttons2:focus, .buttons2:active, .buttons2.active, .open>.dropdown-toggle.buttons2{
  color: #ebff41;
  box-shadow: none;
  border-color: #ebff41;
  background-color: rgba(255, 255, 255, 0);
}

.buttons3{
  background-color: #fff;
  border-color: rgba(43, 43, 43, 1);
  color:#000;
}

.buttons3:hover, .buttons3:focus, .buttons3:active, .buttons3.active, .open>.dropdown-toggle.buttons3{
  background-color: #efefef;
  box-shadow: none;
  border-color: rgba(43, 43, 43, 1);
  color: #000;
}

.buttons4{
  padding: 0.6rem;
  background-color: #eee;
  border-color: #bbb;
  color: #bbb;
  box-shadow: none;
  outline: 0;
}

.buttons4:hover, .buttons4:active{
  padding: 0.6rem;
  background-color: #fff;
  border-color: rgba(43, 43, 43, 1);
  color:#000;
  box-shadow: none;
  outline: 0;
}

.buttons4:hover{
  padding: 0.6rem;
  background-color: #eee;
  border-color: #bbb;
  color: #bbb;
  box-shadow: none;
  outline: 0;
}

.buttons4:focus, .buttons4:active, .buttons4.active, .buttons4.selection, .open>.dropdown-toggle.buttons4{
  padding: 0.6rem;
  background-color: #fff;
  border-color: rgba(43, 43, 43, 1);
  color:#000;
  box-shadow: none;
  outline: 0;
}

.input:focus,.input:active:focus,.input.active:focus,
.input.focus,.input:active.focus,.input.active.focus {
    outline: none;
}


.buttonsLink{
  margin: 12px 16px 8px 16px;
  color: #fff;
}

.buttonsLink:hover, .buttonsLink:focus, .buttonsLink:active, .buttonsLink.active, .open>.dropdown-toggle.buttonsLink{
  box-shadow: none;
  color: #ebff41;
}

.searchBox{
  padding: 4px;
  margin: 0px;
  display: inline-block;
    position: relative;
    width: 100% !important
    
}

.datetimepickers{
  margin: 48px 16px 24px 16px;
}

.searchResults{
  width: 0%;
  bottom: 4%;
  overflow-y: hidden;
  margin: 0px auto;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 0%;
  right: 0%;
  background-color: rgba(20, 20, 20, 0.7);
  top: 15%;
  border-radius: 0.25rem;
}

.searchHeading{
  padding: 1rem;
  font-size: 1.25rem;
  color: #fff;
}

.searchResult{
  width: 95%;
  display: inline-flex;
  background-color: #fff;
  margin: 1px auto;
  font-family: 'Roboto', sans-serif;
}

.searchDiv1{
  vertical-align: middle;
  display: table;
  margin: auto 0px;
  color: #232323;
}

.arrow_box {
  position: relative;
  background: #d5a520;
  border: 1px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(213, 165, 32, 0);
  border-left-color: #d5a520;
  border-width: 10px;
  margin-top: -10px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #c2e1f5;
  border-width: 11px;
  margin-top: -11px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}